<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>call.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5420A53D1D29E94700E7D863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5420A5511D29E94700E7D863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5420A55C1D29E94800E7D863</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
